@import 'variables';

// Ejemplo de uso de variable y mixin de Bootstrap
.btn-custom {
    padding: $space-s;
    border-radius: $border-radius;
    background-color: $primary;
    color: $white;

    &:hover {
        background-color: darken($primary, 20%);
    }
}