@use '../abstracts/variables'as v;
@use '../base/mixins'as m;


.footer {
  margin-top: auto;        // 4) empuja al final solo cuando hay hueco

  color: v.$white;
  background-color: v.$body-color;

  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  // móvil: apilado
  flex-wrap: wrap;

  a { color: v.$white; }

  /* ≥ tablet: orientación horizontal */
  @include m.tablet {
    flex-direction: row;
  }
}