@use '../abstracts/variables'as v;
@use '../base/mixins'as m;

.hero-size {
    // valor por defecto para móviles
    width: 100%;
    height: 200px;


    @include m.tablet {
        height: 250px;
    }
}

.hero-size {
    @include m.hero; // si usas _mixins.scss, o h.hero si lo exportas así
}

.display {
    font-size: 6rem;

    &-m {
        font-size: 4rem;
    }

    &-s {
        font-size: 2rem;
    }
}

.hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 1rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    height: 100%;
}

// Asegúrate que estas clases de Bootstrap estén cargando
.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.hero-section {
    height: 70vh;
    min-height: 465px;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    height: 100%;
    position: relative;
    z-index: 2;
    padding: 3rem 0;
}

.hero-title {
    font-size: 5rem;
    color:v.$white;
}

.hero-description {
    font-size: 1rem;
    max-width: 800px;
    margin-bottom: 2rem;
}
