/* Error: expected ";".
 *    ,
 * 48 | // importamos Boostrap de node_modules
 *    |                                       ^
 *    '
 *   resources\sass\_custom.scss 48:39  @use
 *   resources\sass\app.scss 2:1        root stylesheet */

body::before {
    font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
        "Droid Sans Mono", monospace, monospace;
    white-space: pre;
    display: block;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid black;
    content: 'Error: expected ";".\a    \2577 \a 48 \2502  // importamos Boostrap de node_modules\d\a    \2502                                        ^\a    \2575 \a   resources\\sass\\_custom.scss 48:39  @use\a   resources\\sass\\app.scss 2:1        root stylesheet';
}
