@use 'bootstrap/scss/bootstrap';
// Reescribimos variables de Boostrap

// Redefinimos el font-family base
$bp-sm : 420px;
$bp-md : 744px;
$bp-lg : 1280px;


// Cualquier otra variable que veas en docs de Bootstrap
$font-family-base: 'Montserrat', sans-serif !default;
$font-family-title: 'DMSerifDisplay', serif !default;

// importamos Boostrap de node_modules
@import '../../node_modules/bootstrap/scss/bootstrap.scss';