@use '../abstracts/variables' as v;
@use 'sass:color';

/// Mixin para botones.
/// @param $bgColor Background color
/// @param $fgColor Foreground (text) color
@mixin btn($bgColor, $fgColor) {
  background-color: $bgColor;
  color:             $fgColor;
  border:            none;
  border-radius:     v.$border-radius;
  padding:           v.$space-s v.$space-l;
  display:           block;
  font-weight:       700;
  text-align:        center;
  width:             100%;
  transition:        background-color v.$btn-duracion v.$timing;

  &:hover {
    // oscurecemos el fondo un 10%
    background-color: color.adjust($bgColor, $lightness: -10%);
      color:             $fgColor;
  }

  // en tablet y superiores, el ancho deja de ser full-width
  @include tablet {
    width: auto;
  }
}


/// Media query para móviles (hasta bp-sm)
@mixin mobile {
  @media screen and (max-width: v.$bp-sm) {
    @content;
  }
}

/// Media query para tabletas (a partir de bp-md)
@mixin tablet {
  @media screen and (min-width: v.$bp-md) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: v.$bp-lg) {
    @content;
  }
}

/// Media query para escritorio (a partir de bp
@mixin hero($start-color: rgba(0, 0, 0, 0.7), $end-color: rgba(0, 0, 0, 0)) {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;                            // top:0; right:0; bottom:0; left:0;
    background: linear-gradient(
      to bottom,
      $start-color,
      $end-color
    );
    z-index: 1;
    pointer-events: none;
  }

  // La imagen debe ser la primera etiqueta hija
  > img {
    display: block;
    width: 100%;
    height: auto;
  }

  // Tu contenedor de texto
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;                       // encima del overlay
    color: v.$white;
    text-align: center;
    padding: v.$space-m;              // ajuste responsivo
  }
}