$btn-duracion: 0.3s !default;
$timing: ease-in-out;
$border-radius: 10px;

// Espacios
$space-xs: 0.25rem !default;
$space-s:  0.5rem  !default;
$space-m:  1rem    !default;
$space-l:  1.5rem  !default;
$space-xl: 2rem    !default;
// breakpoints
$bp-sm: 420px;
$bp-md: 744px;
$bp-lg: 1280px;
//  colores a usar
$primary: #28A6BF !default;
$bg-primary: #28A6BF !default;
$secondary: #C0C0C0 !default;
$body-color: #142028 !default;
$white: white;
//  Cambios en acordeon

$accordion-button-active-bg:     darken($primary, 6%) !default;     // fondo al abrir
$accordion-button-focus-box-shadow: 0 0 0 .25rem rgba($primary,.25) !default;


$primary-light: tint-color($primary, 80%);
$transition-base: all 0.3s ease-in-out;

